In [15]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

DDoS = pd.read_csv('/content/dataset_sdn.csv')
DDoS.head()

      dt  switch       src       dst  ...  tx_kbps  rx_kbps  tot_kbps  label
0  11425       1  10.0.0.1  10.0.0.8  ...        0      0.0       0.0      0
1  11605       1  10.0.0.1  10.0.0.8  ...        0      0.0       0.0      0
2  11425       1  10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0
3  11425       1  10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0
4  11425       1  10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0

[5 rows x 23 columns]

In [16]:
# Import label encoder 
from sklearn import preprocessing
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Protocol'. 
DDoS['Protocol']= label_encoder.fit_transform(DDoS['Protocol']) 
print(DDoS.head())

      dt  switch       src       dst  ...  tx_kbps  rx_kbps  tot_kbps  label
0  11425       1  10.0.0.1  10.0.0.8  ...        0      0.0       0.0      0
1  11605       1  10.0.0.1  10.0.0.8  ...        0      0.0       0.0      0
2  11425       1  10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0
3  11425       1  10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0
4  11425       1  10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0

[5 rows x 23 columns]

In [17]:
DDoS.Protocol.unique()
DDoS['Protocol'] = DDoS['Protocol'].replace('TCP', '0')
DDoS['Protocol'] = DDoS['Protocol'].replace('UDP', '1')
DDoS['Protocol'] = DDoS['Protocol'].replace('ICMP', '2')
DDoS.Protocol.unique()

array([2, 1, 0])

In [18]:
DDoS["rx_kbps"] = DDoS["rx_kbps"].fillna(DDoS["rx_kbps"].mean())

In [19]:
DDoS["tot_kbps"] = DDoS["tot_kbps"].fillna(DDoS["tot_kbps"].mean())

In [20]:
DDoS.isnull().sum()

dt             0
switch         0
src            0
dst            0
pktcount       0
bytecount      0
dur            0
dur_nsec       0
tot_dur        0
flows          0
packetins      0
pktperflow     0
byteperflow    0
pktrate        0
Pairflow       0
Protocol       0
port_no        0
tx_bytes       0
rx_bytes       0
tx_kbps        0
rx_kbps        0
tot_kbps       0
label          0
dtype: int64

In [22]:
DDoS.drop('src',axis=1)

           dt  switch       dst  pktcount  ...  tx_kbps  rx_kbps  tot_kbps  label
0       11425       1  10.0.0.8     45304  ...        0      0.0       0.0      0
1       11605       1  10.0.0.8    126395  ...        0      0.0       0.0      0
2       11425       1  10.0.0.8     90333  ...        0      0.0       0.0      0
3       11425       1  10.0.0.8     90333  ...        0      0.0       0.0      0
4       11425       1  10.0.0.8     90333  ...        0      0.0       0.0      0
...       ...     ...       ...       ...  ...      ...      ...       ...    ...
104340   5262       3  10.0.0.7        79  ...        1      1.0       2.0      0
104341   5262       3  10.0.0.7        79  ...        1      1.0       2.0      0
104342   5262       3  10.0.0.5        31  ...        0      0.0       0.0      0
104343   5262       3  10.0.0.5        31  ...        1      1.0       2.0      0
104344   5262       3  10.0.0.5        31  ...        1      1.0       2.0      0

[104345 rows x 22 columns]

In [24]:
DDoS.drop('dst',axis=1)

           dt  switch        src  pktcount  ...  tx_kbps  rx_kbps  tot_kbps  label
0       11425       1   10.0.0.1     45304  ...        0      0.0       0.0      0
1       11605       1   10.0.0.1    126395  ...        0      0.0       0.0      0
2       11425       1   10.0.0.2     90333  ...        0      0.0       0.0      0
3       11425       1   10.0.0.2     90333  ...        0      0.0       0.0      0
4       11425       1   10.0.0.2     90333  ...        0      0.0       0.0      0
...       ...     ...        ...       ...  ...      ...      ...       ...    ...
104340   5262       3   10.0.0.5        79  ...        1      1.0       2.0      0
104341   5262       3   10.0.0.5        79  ...        1      1.0       2.0      0
104342   5262       3  10.0.0.11        31  ...        0      0.0       0.0      0
104343   5262       3  10.0.0.11        31  ...        1      1.0       2.0      0
104344   5262       3  10.0.0.11        31  ...        1      1.0       2.0      0

[104345 rows x 22 columns]

In [26]:
DDoS.drop('dur_nsec',axis=1)

           dt  switch        src       dst  ...  tx_kbps  rx_kbps  tot_kbps  label
0       11425       1   10.0.0.1  10.0.0.8  ...        0      0.0       0.0      0
1       11605       1   10.0.0.1  10.0.0.8  ...        0      0.0       0.0      0
2       11425       1   10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0
3       11425       1   10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0
4       11425       1   10.0.0.2  10.0.0.8  ...        0      0.0       0.0      0
...       ...     ...        ...       ...  ...      ...      ...       ...    ...
104340   5262       3   10.0.0.5  10.0.0.7  ...        1      1.0       2.0      0
104341   5262       3   10.0.0.5  10.0.0.7  ...        1      1.0       2.0      0
104342   5262       3  10.0.0.11  10.0.0.5  ...        0      0.0       0.0      0
104343   5262       3  10.0.0.11  10.0.0.5  ...        1      1.0       2.0      0
104344   5262       3  10.0.0.11  10.0.0.5  ...        1      1.0       2.0      0

[104345 rows x 22 columns]

In [29]:
from sklearn.model_selection import train_test_split
features = DDoS[['dt', 'switch', 'pktcount', 'bytecount', 'dur', 'dur_nsec', 'tot_dur',
       'flows', 'packetins', 'pktperflow', 'byteperflow', 'pktrate',
       'Pairflow','Protocol' ,'port_no', 'tx_bytes', 'rx_bytes', 'tx_kbps', 'rx_kbps',
       'tot_kbps']]
labels = DDoS['label']

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.4, random_state=42)

In [30]:
# Feature scaling (or standardization)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression()

#fit the model
model1.fit(X_train,y_train)

#predict
pred1 = model1.predict(X_test)

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
accuracy1 = accuracy_score(y_test, pred1)
print(' accuracy of Logistic regression = ', accuracy1)

precision1 = precision_score(y_test, pred1)
print(' precision of Logistic regression = ', precision1)

recall1 = recall_score(y_test, pred1)
print(' recall of Logistic regression = ',recall1 )

f11=f1_score(y_test, pred1, average='macro')
print('f1 score of Logistic regression = ',f11)

# # Creating confusion matrix for evaluation
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, pred1)



# # Print out confusion matrix and results
print("confusion matrix of Logistic regression =", cm)

 accuracy of Logistic regression =  0.7711677607935215
 precision of Logistic regression =  0.726832222895215
 recall of Logistic regression =  0.662902037809968
f1 score of Logistic regression =  0.7554322151630355
confusion matrix of Logistic regression = [[21387  4059]
 [ 5492 10800]]

In [32]:
#ALGORITHM Gaussian NB
from sklearn.naive_bayes import GaussianNB
ML=GaussianNB()

#FIT DATA
ML=ML.fit(X_train,y_train)
#2.TESTING
result=ML.predict(X_test)
print("Prediction using GUASSIAN NB=",result)

# # Creating confusion matrix for evaluation
from sklearn.metrics import confusion_matrix
cm1 = confusion_matrix(y_test, result)

# # Print out confusion matrix and results
print("confusion matrix of GAussian NB =", cm1)

accuracy = accuracy_score(y_test, result)
print('accuracy of GAussian NB = ',accuracy)

precision = precision_score(y_test, result)
print('precision of GAussian NB =',precision)

recall = recall_score(y_test, result)
print('recall of GAussian NB =', recall)

f12=f1_score(y_test, result, average='macro')
print('f1 score of Logistic Gaussian NB = ',f12)

Prediction using GUASSIAN NB= [0 0 1 ... 0 0 1]
confusion matrix of GAussian NB = [[17943  7503]
 [ 6124 10168]]
accuracy of GAussian NB =  0.6735109492548756
precision of GAussian NB = 0.5754060324825986
recall of GAussian NB = 0.6241099926344218
f1 score of Logistic Gaussian NB =  0.6617742998830218

In [33]:
# SVM
from sklearn.svm import SVC
# Fitting SVM with the training set
classifier = SVC(kernel='linear', random_state=0)
classifier.fit(X_train, y_train)

# Testing the model by classifying the test set
y_pred2 = classifier.predict(X_test)

# # Creating confusion matrix for evaluation
cm2 = confusion_matrix(y_test, y_pred2)

# # Print out confusion matrix and results
print("confusion matrix of SVM =", cm2)

accuracy = accuracy_score(y_test, y_pred2)
print('accuracy of SVM = ',accuracy)

precision = precision_score(y_test, y_pred2)
print('precision of SVM =',precision)

recall = recall_score(y_test, y_pred2)
print('recall of SVM =', recall)

f13=f1_score(y_test, y_pred2, average='macro')
print('f1 score of SVM = ',f13)

confusion matrix of SVM = [[22123  3323]
 [ 5673 10619]]
accuracy of SVM =  0.784464995926973
precision of SVM = 0.7616554296370679
recall of SVM = 0.6517922906948196
f1 score of SVM =  0.7667449195972155

In [34]:
#algorithm(decision tree)
from sklearn.tree import DecisionTreeClassifier
Model3=DecisionTreeClassifier()
#fit data
Model3=Model3.fit(X_train,y_train)
#testing
result3=Model3.predict(X_test)

# # Creating confusion matrix for evaluation
cm2 = confusion_matrix(y_test, result3)
 # Print out confusion matrix and report
print('Confusion matrix of DT =' ,cm2)

accuracy3 = accuracy_score(y_test,result3)
print('accuracy of DT = ',accuracy3)

precision3 = precision_score(y_test, result3)
print('precision of DT =',precision3)

recall3 = recall_score(y_test, result3)
print('recall of DT =', recall3)

f14=f1_score(y_test, result3, average='macro')
print('f1 score of DT = ',f14)

Confusion matrix of DT = [[25435    11]
 [    8 16284]]
accuracy of DT =  0.9995447793377737
precision of DT = 0.9993249463025468
recall of DT = 0.9995089614534741
f1 score of DT =  0.9995217918887316

In [35]:
#Algorithm Randomforest

from sklearn.ensemble import RandomForestClassifier
Model4=RandomForestClassifier()
#fit data
Model4=Model4.fit(X_train,y_train)
#testing
result4=Model4.predict(X_test)

# # Creating confusion matrix for evaluation
cm4 = confusion_matrix(y_test, result4)
 # Print out confusion matrix and report
print('Confusion matrix of RF =' ,cm4)

accuracy4 = accuracy_score(y_test,result4)
print('accuracy of RF = ',accuracy4)

precision4 = precision_score(y_test, result4)
print('precision of RF =',precision4)

recall4 = recall_score(y_test, result4)
print('recall of RF =', recall4)

f15=f1_score(y_test, result4, average='macro')
print('f1 score of RF = ',f14)

Confusion matrix of RF = [[25446     0]
 [    0 16292]]
accuracy of RF =  1.0
precision of RF = 1.0
recall of RF = 1.0
f1 score of RF =  0.9995217918887316

In [36]:
#algorithm Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier


Model5 = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,  max_depth=1, random_state=0).fit(X_train, y_train)

#testing
result5=Model5.predict(X_test)

# # Creating confusion matrix for evaluation
cm5 = confusion_matrix(y_test, result5)
 # Print out confusion matrix and report
print('Confusion matrix of Gradient Boosting =' ,cm5)

accuracy5 = accuracy_score(y_test,result5)
print('accuracy of Gradient Boosting = ',accuracy5)

precision5 = precision_score(y_test, result4)
print('precision of Gradient Boosting =',precision5)

recall5 = recall_score(y_test, result4)
print('recall of Gradient Boosting =', recall5)

f15=f1_score(y_test, result5, average='macro')
print('f1 score of Gradient Boosting = ',f15)

Confusion matrix of Gradient Boosting = [[24912   534]
 [   80 16212]]
accuracy of Gradient Boosting =  0.9852891849154248
precision of Gradient Boosting = 1.0
recall of Gradient Boosting = 1.0
f1 score of Gradient Boosting =  0.9846209892785414